body {
  background:whitesmoke;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}



h1 {
  color: blanchedalmond;
  text-align: center;
  padding: 20px;
}

p {
  color: black;
  text-align: center;
}